<footer class="site-footer">

    <section id="footer">
        <ul class="icons">
            <li><a href="https://github.com/Loop-X" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
            <li><a href="mailto:loopxlab@gmail.com" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
        </ul>
    </section>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</footer>
