<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.loopX.XAlarm">

    <!-- For details: http://developer.android.com/reference/android/Manifest.permission.html -->
    <!-- Allows app to receive ACTION_BOOT_COMPLETED that is broadcast after the system finishes booting -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Allows using PowerManager WakeLocks to keep processor from sleeping or screen from dimming -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Allows access to the vibrator -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Allows an application to read or write the system settings -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Allows app to disable the keyguard -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Allows read only access to phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".XAlarmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="io.github.loopX.XAlarm.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.github.loopX.XAlarm.module.SetAlarmModule.SetAlarmActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="io.github.loopX.XAlarm.module.UnlockTypeModule.UnlockTypeActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <!-- 闹钟执行时弹出一个全屏的Activity -->
        <activity
            android:name=".module.Alarm.AlarmAlertFullScreen"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:screenOrientation="portrait"/>

        <!-- Used as demo of unlock type for user -->
        <activity
            android:name=".module.Alarm.AlarmAlertFullScreenToTest"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".About"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name=".module.Alarm.AlarmWakeReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".module.Alarm.AlarmRegistrar">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service android:name=".module.Alarm.AlarmRingingService"
            android:enabled="true" />

    </application>


</manifest>