<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.loop_x.yummywakeup">

    <!-- For details: http://developer.android.com/reference/android/Manifest.permission.html -->
    <!-- Allows app to receive ACTION_BOOT_COMPLETED that is broadcast after the system finishes booting -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Allows using PowerManager WakeLocks to keep processor from sleeping or screen from dimming -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Allows access to the vibrator -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Allows an application to read or write the system settings -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Allows app to disable the keyguard -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Allows read only access to phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".YummyWakeUpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.SetAlarmModule.SetAlarmActivity"
            android:theme="@style/AppTheme">
        </activity>
        
        <activity android:name=".module.UnlockTypeModule.UnlockTypeActivity"
            android:theme="@style/AppTheme"
            />

        <!-- 闹钟执行时弹出一个全屏的Activity -->
        <activity
            android:name=".module.AlarmModule.AlarmAlertFullScreen"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />

        <!-- Used as demo of unlock type for user -->
        <activity
            android:name=".module.AlarmModule.AlarmAlertFullScreenToTest"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />

        <provider
            android:name=".service.AlarmProvider"
            android:authorities="io.github.loop_x.yummywakeup"
            android:exported="false" />

        <!-- 闹钟执行时触发 -->
        <receiver android:name=".service.AlarmReceiver" >
            <intent-filter>
                <action android:name="com.yummywakeup.ALARM_ALERT" />
                <action android:name="yummy_alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>

        <!-- 用来响铃和振动，和AlarmReceiver同时执行 -->
        <!--
      This service receives the same intent as AlarmReceiver but it does
      not respond to the same broadcast. The AlarmReceiver will receive
      the alert broadcast and will start this service with the same
      intent. The service plays the alarm alert and vibrates the device.
      This allows the alert to continue playing even if another activity
      causes the AlarmAlert activity to pause.
        -->
        <service
            android:name=".service.AlarmKlaxon">
            <intent-filter>
                <action android:name="com.yummywakeup.ALARM_ALERT" />
            </intent-filter>
        </service>

        <!-- 重新开机后初始化闹钟 -->
        <receiver android:name=".service.AlarmInitReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>